interactions:
- request:
    body: '{"page_size": 25}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.notion.com/v1/data_sources/22222222222222222222222222222222/query
  response:
    body:
      string: '{"object":"list","results":[{"object":"page","id":"aaaa1111111111111111111111111111","url":"https://www.notion.so/System-Architecture-aaaa1111111111111111111111111111","properties":{"Name":{"type":"title","title":[{"plain_text":"System Architecture"}]}}},{"object":"page","id":"bbbb2222222222222222222222222222","url":"https://www.notion.so/API-Reference-bbbb2222222222222222222222222222","properties":{"Name":{"type":"title","title":[{"plain_text":"API Reference"}]}}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
