interactions:
- request:
    body: '{"query": "architecture", "filter": {"property": "object", "value": "page"}, "page_size": 10}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    body:
      string: '{"object":"list","results":[{"object":"page","id":"11111111111111111111111111111111","url":"https://www.notion.so/System-Architecture-11111111111111111111111111111111","properties":{"Name":{"type":"title","title":[{"plain_text":"System Architecture"}]}}},{"object":"page","id":"22222222222222222222222222222222","url":"https://www.notion.so/ADR-22222222222222222222222222222222","properties":{"Name":{"type":"title","title":[{"plain_text":"Architecture Decision Records"}]}}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
