interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.notion.com/v1/pages/11111111111111111111111111111111
  response:
    body:
      string: '{"object":"page","id":"11111111111111111111111111111111","url":"https://www.notion.so/System-Architecture-11111111111111111111111111111111","properties":{"Name":{"type":"title","title":[{"plain_text":"System Architecture"}]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.notion.com/v1/blocks/11111111111111111111111111111111/children?page_size=100
  response:
    body:
      string: '{"object":"list","results":[{"object":"block","type":"heading_1","heading_1":{"rich_text":[{"plain_text":"Overview"}]}},{"object":"block","type":"paragraph","paragraph":{"rich_text":[{"plain_text":"We use a microservices architecture."}]}},{"object":"block","type":"bulleted_list_item","bulleted_list_item":{"rich_text":[{"plain_text":"API Gateway routes requests"}]}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
